.catalog {
  padding-top: 50px;
}
@media (max-width: 950px) {
  .catalog {
    padding-top: 20px;
 }
}
.catalog .h1 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 50px;
}
@media (max-width: 950px) {
  .catalog .h1 {
    margin-bottom: 20px;
 }
}
.catalog .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 580px) {
  .catalog .box {
    grid-template-columns: repeat(2, 1fr);
 }
}
@media (max-width: 374px) {
  .catalog .box {
    grid-template-columns: 1fr;
 }
}
