.cart{
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-weight: 500;
  @media (max-width: 767px) {
    gap: 10px;
  }
  .img{
    background-color: aqua;
    img{
      width: 100%;
      object-fit: contain;
    }
  }
  .info{
    .title{
      font-weight: 500;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 18px; 
      }
    }
    .price{
      display: block;
      font-weight: 500;
      font-size: 24px; 
      text-transform: uppercase;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 15px; 
        margin-bottom: 10px;
      }
    }
    .button{
      border: none;
      background: none;
      font-size: 20px;
      line-height: 24px;
      text-decoration-line: underline; 
      color: #000000;
      @media (max-width: 767px) {
        font-size: 15px; 
      }
    }
  }
}