.admin {
  padding: 20px 0;
}
.admin h1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.admin form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.admin form input, .admin form label {
  width: 300px;
  padding: 5px;
  border: 1px solid #000;
}
.admin form button {
  width: 300px;
  color: #fff;
  padding: 10px;
  background-color: #000;
}
.admin form .img {
  display: none;
}
