.item{
  text-align: center;
  @media (max-width: 767px) {
    max-width: 280px;
    margin: 0 auto;
  }
  .img{
    margin-bottom: 20px;
    img{width: 100%; object-fit: cover;}
    @media (max-width: 767px) {margin-bottom: 10px;}
  }
  .title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 790px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .link{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #000;
    @media (max-width: 790px) {
      font-size: 18px;
    }
  }
}