.chapter{
  margin-top: 50px;
  .h1{
    margin-bottom: 50px;
  }
  .box{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (max-width: 580px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 374px) {
      grid-template-columns: 1fr;
    }
  }
}