.fullcart{
  margin-top: 50px;
  text-align: center;
  .img{ 
    position: relative;
    margin-bottom: 50px;
    .colorDots{
      position: absolute;
      top: 20%;
      right: 27%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      button{ 
        width: 30px;
        height: 30px;
        border: 1px solid #000000; 
        border-radius: 50%;
        p{
          width: 20px;
          height: 20px;
          margin: 5px auto;
          background: #E2A55C;
          border-radius: 50%;
        }
      }
    }
    img{
      margin-bottom: 50px;
    }
    .title{
      margin-bottom: 50px;
    }
   .dots{ 
    display: inline-flex;
    gap: 10px;
    button{
        width: 10px;
        height: 10px; 
        border-radius: 50%;
        border: 1px solid #000000;
        background: none;
      }
    .active{
      background-color: #000;
    }
   }
  }
  .desc{
    margin-bottom: 50px;
    .text{
      margin-bottom: 20px;
    }
    .characteristics{
      max-width: 804px;
      margin: 0 auto;
      text-align: left;
      border-bottom: 2px solid #555555;;
      border-top: 2px solid #555555;;
      padding: 20px 0 20px 0;
      margin-bottom: 84px;
      .h3{
        display: flex;
        justify-content: space-between;
        span{
          cursor: pointer;
        }
      }
      .item_hide{
        display: none;
      }
      .item_show{
        display: block;
        display: flex;
        justify-content: space-between;
        p{
          width: 80%;
          text-align: left;
        }
      }
    }
  }
  .btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .select{
      font-size: 24px;
      padding: 14px 0;
      width: 350px;
      background-color: #fff;
      color: #000;
      text-transform: uppercase;
    }
    .btn{
      font-size: 24px;
      padding: 14px 0;
      width: 350px;
      background-color: #000;
      color: #fff;
      text-transform: uppercase;
    }
  }
}