.fullcart {
  padding-top: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .fullcart {
    padding-top: 10px;
 }
}
.fullcart .img {
  position: relative;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .fullcart .img {
    margin-bottom: 20px;
 }
}
.fullcart .img img {
  object-fit: contain;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .fullcart .img img {
    margin-bottom: 20px;
    width: 100%;
    object-fit: contain;
 }
}
.fullcart .img .title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .fullcart .img .title {
    margin-bottom: 20px;
 }
}
.fullcart .desc {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .fullcart .desc {
    margin-bottom: 20px;
 }
}
.fullcart .desc .h4 {
  margin-bottom: 20px;
}
.fullcart .desc .text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.fullcart .desc .price {
  font-weight: 500;
  font-size: 36px;
}
@media (max-width: 767px) {
  .fullcart .desc .price {
    font-size: 20px;
 }
}
.fullcart .desc .characteristics {
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid #555;
  border-top: 2px solid #555;
  margin-bottom: 84px;
}
.fullcart .desc .characteristics .h3 {
  cursor: pointer;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
}
.fullcart .desc .characteristics .h3 span {
  font-weight: inherit;
  font-size: inherit;
}
@media (max-width: 767px) {
  .fullcart .desc .characteristics .h3 {
    font-size: 20px;
 }
}
.fullcart .desc .characteristics li {
  display: flex;
  gap: 20px;
}
.fullcart .desc .characteristics li :first-child {
  width: 35%;
}
.fullcart .desc .characteristics li :last-child {
  width: 65%;
}
.fullcart .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fullcart .btns .size {
  max-width: 350px;
  border: 2px solid #000;
  font-weight: 500;
  padding: 10px 20px;
  text-align: left;
}
.fullcart .btns .size h3 {
  font-size: 24px;
}
@media (max-width: 767px) {
  .fullcart .btns .size h3 {
    font-size: 18px;
 }
}
.fullcart .btns .size h3::after {
  content: '>';
  transform: rotate(45deg);
  margin-left: 30px;
}
.fullcart .btns .size ul li {
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 767px) {
  .fullcart .btns .size ul li {
    font-size: 14px;
 }
}
.fullcart .btns .btn {
  font-size: 24px;
  padding: 14px;
  max-width: 350px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .fullcart .btns .btn {
    font-size: 14px;
 }
}
