.item{
  text-align: center;
}
.img{
  margin-bottom: 23px;
  
}
.img img{width: 100%; object-fit: contain;}
.title{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}
.link{
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #000;
}