.nav_wrap{
  width: 100%;
  background-color: #222222;
}

.navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .logo{

  }
  .navul{
    display: flex;
    gap: 55px;
    li{
      a{
        color: #fff;
      }
    }
  }
  .funcs{
    // position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}