.sales{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  a{
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .sale{
    display: grid;
    grid-template-columns: 7fr 3fr;
    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
    img{
      width: 100%;
      object-fit: cover;
    }
    .box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #F5F5F5;
      padding: 20px;
      text-align: center;  
      .title{
        font-family: 'Limerick-Serial-Medium';
        font-weight: 500;
        font-size: 64px; 
        text-align: center;
        margin-bottom: 37px;
        @media (max-width: 1100px) {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
      .text{
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 87px;
        @media (max-width: 1100px) {
          font-size: 14px;
          margin-bottom: 36px;
        }
      }
      .link{
        font-size: 20px;
        background-color: #000;
        padding: 16px 40px;
        color: #fff;
        @media (max-width: 1100px) {
          font-size: 13px;
          padding: 12px;
        }
      }
    }
  }
}