header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #222222;
  z-index: 100;
}
.navbar{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;  
  align-items: center;
  height: 80px; 
  @media (max-width: 950px) { 
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
  }
  .navul{
    margin: 0 auto;
    display: flex;
    gap: 55px;
    @media (max-width: 950px) { 
      display: none; 
    }
    li{
      a{
        color: #fff;
      }
    }
  }
}

.burger{ 
  display: none;
  position: relative;
  z-index: 10; 
  margin-right: auto; 
  span{
    content: '';
    width: 18px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
  }
  span:nth-child(2){
    transform: translateY(-5px);
  }
  span:nth-child(3){
    transform: translateY(5px);
  }
  @media (max-width: 950px) { 
    display: block; 
  }
}  
.burger__active{
  span:nth-child(1){
    opacity: 0;
  }
  span:nth-child(2){
    transform: translateY(0) rotate(45deg);
  }
  span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
  }
}

.menu{
  position: absolute;
  top: 0;
  left: -100vw;
  transition: all ease 0.5s; 
  ul{
    position: absolute;
    top: 80px;
    left: -20px;
    background-color: #fff;
    width: 60vw;
    height: 100vh; 
    z-index: 10;
    transition: all ease 0.5s; 
    li{ 
      &:first-child{
        border-bottom: 1px solid #000;
      }
      padding: 10px; 
      a{
        display: block;
        color: #000;
      }
      &:hover{
        background: #F5F5F5;
        border-bottom: 0.1px solid #AAAAAA;
      }
    }
  }
}
.menu__active{ 
  left: 0; 
}