header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #222;
  z-index: 100;
}
.navbar {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 80px;
}
@media (max-width: 950px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
 }
}
.navbar .navul {
  margin: 0 auto;
  display: flex;
  gap: 55px;
}
@media (max-width: 950px) {
  .navbar .navul {
    display: none;
 }
}
.navbar .navul li a {
  color: #fff;
}
.burger {
  display: none;
  position: relative;
  z-index: 10;
  margin-right: auto;
}
.burger span {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 0.5s;
}
.burger span:nth-child(2) {
  transform: translateY(-5px);
}
.burger span:nth-child(3) {
  transform: translateY(5px);
}
@media (max-width: 950px) {
  .burger {
    display: block;
 }
}
.burger__active span:nth-child(1) {
  opacity: 0;
}
.burger__active span:nth-child(2) {
  transform: translateY(0) rotate(45deg);
}
.burger__active span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.menu {
  position: absolute;
  top: 0;
  left: -100vw;
  transition: all ease 0.5s;
}
.menu ul {
  position: absolute;
  top: 80px;
  left: -20px;
  background-color: #fff;
  width: 60vw;
  height: 100vh;
  z-index: 10;
  transition: all ease 0.5s;
}
.menu ul li {
  padding: 10px;
}
.menu ul li:first-child {
  border-bottom: 1px solid #000;
}
.menu ul li a {
  display: block;
  color: #000;
}
.menu ul li:hover {
  background: #f5f5f5;
  border-bottom: 0.1px solid #aaa;
}
.menu__active {
  left: 0;
}
