footer{ 
  padding: 60px 0;
  margin-top: auto;
}
.box{
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
    text-align: center;  
  }
  .item{
    @media (max-width: 767px) {
      padding: 10px;
      border-bottom: 2px solid #aaa;
      border-top: 2px solid #aaa;
      margin-bottom: 10px;
    }
    h3{
      position: relative;
      font-weight: 500;
      font-size: 24px; 
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        margin-bottom: 0;
        font-size: 16px;
        &::after{
          content: '+';
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    ul{ 
      :first-child{
        margin-top: 10px;
      }
      li{
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media (max-width: 767px) {
          font-size: 15px;
          margin-bottom: 10px;
        }
        a{color: #000;}
      }
    }
  }
}

.res_show{
  @media (max-width: 767px) {
    display: block; 
  }
}

.res_hide{
  @media (max-width: 767px) {
    display: none;
  }
}